body {
    font-family: sans-serif;
    background-color: white;
  }
  

  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }

  .file-upload {
    background-color: white;
    width: 400px;
    height: 100px;
    border-radius: 10px;
    border: solid 1.5px white;
    margin: 0 auto;
    padding: 100px;
    padding-bottom: 909px;
    padding-top: 57px;

  }
  
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 1.5px dashed #35465d;
    position: relative;
    background-color: white;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #35465d;
    border: 1.5px dashed #ffffff;
    
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    font-size: 20px;
    text-transform: uppercase;
    color:#cd4535;
   
    padding-top: 5px;
    padding-bottom: 15px;
  }
  
  .camera_image {
    padding-top: 25px;
  }

  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .m_title {
    text-align: center;
  }
  .m_title h1 {
    font-size: 350%;
    font-family: NanumSquareR;
    color: #35465d;
  }
  .m_title h2 {
    font-size: 200%;
    font-family: NanumSquareR;
    color: #35465d;
    
  }
  #producer{
    text-align: right;
    margin-top: 3%;
    margin-right: 3%;
    
  }
  
  a {
    text-decoration: none;
  }
  
  @media(max-width: 600px) {
    .m_title h1 {
      font-size: 175%;
      font-family: NanumSquareR;
      color: #35465d;
    }
    .m_title h2 {
      font-size: 100%;
      font-family: NanumSquareR;
      color: #35465d;
    }
    #producer{
     font-size: 8px;
    }
    .file-upload {
      background-color: white;
      width: 200px;
      height: 50px;
      border-radius: 10px;
      border: solid 1.5px white;
      margin: 0 auto;
      padding: 50px;
      padding-bottom: 280px;
  
    }
  
    .drag-text h3 {
      font-weight: 50;
      font-size: 10px;
      text-transform: uppercase;
      color:#cd4535;
     
      padding-top: 5px;
      padding-bottom: 15px;
    }
    .horizontal-bar-chart li { 
      position: relative;
      display: block;  
      _zoom: 1;
      height: 2em;
      margin-bottom: .2em;
      background: #ebebeb; 
      width: 253px;
    }
    .file-upload-content {
      display: none;
      text-align: -webkit-auto;

    }
    

  }



.result_ {
  
  padding-bottom: 20px;


}


.result_ment{
  display: none;
}

.result_animal{
  font-family: NanumSquareR;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 30px;
  color:red
}

.result_msg{
  font-size: 15px;
}
  




.single-post .entry-content ul li {
  margin-bottom: 0;
}

.single-post .entry-content ul {
  padding: 0;
}

.chart-container { 
  margin: 0 auto;
  max-width: 600px;
  min-width: 320px;
  padding: 0 1em;
}

.horizontal-bar-chart { 
  float: left; 
  width: 100%;
  margin-bottom: 0px;
  padding-left: 0px;

}

.horizontal-bar-chart li { 
  position: relative;
  display: block;  
  _zoom: 1;
  height: 2em;
  margin-bottom: .2em;
  background: #ebebeb; 
}

.horizontal-bar-chart p { 
  color: #666666;
  position: relative;
  display: block;  
  _zoom: 1;
  margin: 0 0 .9em 0;
  text-indent: .6em;
}


.horizontal-bar-chart .name { 
  display: block; 
  position: absolute; 
  top: 0; 
  right: 0; 
  margin: 0 1em; 
  text-align: right; 
  color: #999; 
  font-weight: bold; 
  font-size: 0.875em; 
  line-height: 2em; 
  text-shadow: 1px 1px 0px #e8e8e8;
}

.horizontal-bar-chart .index { 
  display: block; 
  position: absolute; 
  top: 0; 
  left: 0; 
  height: 100%; 
  text-indent: .6em;
  font-size: 0.875em;
  font-weight: bold;
  color: #ffffff;
  background: /*#af1e23*/ #0F3455;
  line-height: 2.2em;
  text-shadow: 1px 1px 0px #595959;
}

.chart-container .source {
  font-size: .8em;
  padding-top: 4.5em;
  text-align: center;
}

.loading_msg {
  display: none;
  color:  #cd4535;
  font-size: 20px;
}
